
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<title>饭桶的学习笔记</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				饭桶的笔记
			</h3>
		</div>
	</div>
</div></td>
  </tr>
  <tr>
    <td></br></br></br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h2>
						Python -Flask推荐学习配置
					</h2>
					<p>
						简单介绍下在Ubuntu17.04环境安装Flask
<br/>
从0环境配置开始学习和探究Flask.
					</p>
					<p>
						 <a class="btn" href="user/page.php?id=1">阅读全文 »</a>
					</p>
                    <hr/>
				</div>		                
			</div>
		</div>
		<div class="col-md-4 column">
			<ul class="nav nav-pills">
				<li class="active">
					 <a href="index.php"> <span class="badge pull-right">1</span> 全部</a>
				</li>
				<li>
					 <a href="?class=php"> <span class="badge pull-right">0</span> PHP</a>
				</li>
                <li>
					 <a href="?class=python"> <span class="badge pull-right">1</span> Python</a>
				</li>
			</ul>
            </br>
			<div class="row clearfix">
				<div class="col-md-12 column">
                	<ul class="list-unstyled">
 										<li>
											<a href="user/page.php/?id=1">Python -Flask推荐学习配置</a>
										</li> 					</ul>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<ul class="pagination">
						<li>
							 <a href="index.php">首页</a>
						</li>
						<li>
							<a href="?page=0">1</a>	
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div></td>
  </tr>
  <tr>
    <td></br></br></br>
<hr/>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<blockquote>
						<p>
							思考一切（Think about everything）。
						</p> <small>思想家 <cite>马克思(Marxism)</cite></small>
					</blockquote>
				</div>
				<div class="col-md-4 column">
					 <address> <strong>GitHub, <a href="https://github.com/sohyunQVQ">sohyunQVQ</a></strong><br />email: abigeater@163.com<br />Powered by Bootstrap <br />
				</div>
			</div>
		</div>
	</div>
</div>
<hr/></br></br></td>
  </tr>
</table>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
</body>
</html>

