
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<title>饭桶的学习笔记</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				饭桶的笔记
			</h3>
		</div>
	</div>
</div></td>
  </tr>
  <tr>
    <td></br></br><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		  <div class="row clearfix">
				<div class="col-md-8 column">
					<h3>
						Python -Flask推荐学习配置					</h3>
				</div>
				<div class="col-md-4 column">
					<dl>
						<dt>
							发布时间：
						</dt>
						<dd>
							17-08-18						</dd>
						<dt>
							文章分类：
						</dt>
						<dd>
							python						</dd>
					</dl>
				</div>
			</div>
			<p>
<p>
</br>	环境：Ubuntu(17.04)版
</br>	Python版本：内置的Python3.5.3
</br>	IDE：Pycharm,Sublime text 3
</br></p>
</br><hr />
</br><p>
</br>	学习Python推荐使用Linux环境..主要是Linux能通过依赖安装解决大部分的安装问题
</br>	减少了学习的成本和难度。所以之后的教程是在Linux下完成的
</br>	（我是用VM虚拟机搭建的Linux,想学习的同学也可以用VM搭建熟悉后再找一台旧电脑装上）
</br></p>
</br><hr />
</br><p>
</br>	&nbsp;用的是Python3,但是Ubuntu17.04也有Python2,所以在调试过程中一定要输入Python3 *
</br>	首先安装好编写环境，先打开终端（Ctrl+Alt+T）输入以下命令：
</br></p>
</br><pre class="prettyprint lang-bsh">$ sudo apt-get install python3-pip</pre>
</br>然后需要用到虚拟环境，我们使用Py内置的venv（Python3.3之后内置的）
</br><pre class="prettyprint lang-bsh">$ sudo apt-get install python3-venv</pre>
</br>进入项目地址 通过
</br><pre class="prettyprint lang-bsh">sudo mkdir venv</pre>
</br>新建目录并且执行以下命令
</br><pre class="prettyprint lang-bsh">pyvenv venv</pre>
</br>通过以下命令进行虚拟环境（如果不是使用Linux系统则无法用到以下命令）
</br><pre class="prettyprint lang-bsh">. venv/bin/activate</pre>
</br><span>安装好后再通过以下命令安装Flask：</span> 
</br><pre class="prettyprint lang-bsh"><span id="__kindeditor_bookmark_start_7__"></span>$ pip3 install Flask</pre>
</br>安装好后进入Python环境,写入:
</br><pre class="prettyprint lang-bsh">(venv)$ Python3
</br>&gt;&gt;&gt; import flask</pre>
</br>按回车后没报错就安装完成了。
			</p>
            </br>
			<p>
			  <a class="btn" href="/index.php">返回首页 »</a>
		  </p>
		</div>
	</div>
</div>
</td>
  </tr>
  <tr>
    <td></br></br></br>
<hr/>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<blockquote>
						<p>
							思考一切（Think about everything）。
						</p> <small>思想家 <cite>马克思(Marxism)</cite></small>
					</blockquote>
				</div>
				<div class="col-md-4 column">
					 <address> <strong>GitHub, <a href="https://github.com/sohyunQVQ">sohyunQVQ</a></strong><br />email: abigeater@163.com<br />Powered by Bootstrap <br />
				</div>
			</div>
		</div>
	</div>
</div>
<hr/></br></br></td>
  </tr>
</table>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script> 
</body>
</html>

